body {
  font-family: "open sans", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  margin: 0 16px;
}
section.fullscreen {
  margin: 0;
}
/* --------------------navbar--------- */
nav {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 3px solid #222;
}
.mobile {
  margin: 15px;
  padding: 5px;
}
nav ul {
  margin-left: auto;
  margin-right: 20px;
}
nav ul a:hover {
  background-color: #222;
  padding: 10px;
  color: #fff;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
  font-size: 15px;
}
nav span img {
  height: 32px;
  width: auto;
  padding: 3px;
}
nav span {
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* -------------home---------- */
header {
  text-align: center;
  color: white;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}
.full-screen {
  background: url(images/jason-leung-BiwlTPq7Ryw-unsplash.jpg);
  background-size: cover;
}
.chocolates-text {
  color: rgb(95, 60, 60);
  text-align: center;
}
.chocolates-photos {
  margin-right: 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
img {
  width: 100%;
}
/* ------------------about------------- */
.container {
  /* overflow: hidden; */
  font-weight: 500;
  content: "";
  clear: both;
  /* display: block; */
}
.about-col-1 img {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
}
.sub-title {
  color: rgb(95, 60, 60);
  font-weight: 900;
  text-align: center;
}
/* -----------------video--------------------- */
.text-vid {
  color: rgb(95, 60, 60);
  text-align: center;
}

.contact-parent {
  position: relative;
  padding-top: 10px;
  padding-bottom: 600px;
}
/* ---------------------contact---------- */
.contact-form {
  width: 80%;
  height: 75%;
  /* height: 500px; */
  /* max-width: 250%; */
  position: absolute;
  background-image: url(images/emy-Rx3QSrG1coc-unsplash.jpg);
  background-size: cover;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px #914a4ab3;
  font-family: "Montserrat", sans-serif;
}
section h1 {
  color: #725c59;
  margin-top: 0;
  font-weight: 200;
}
.txtb {
  border: 1px solid rgb(88, 71, 71);
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label {
  font-weight: 600;
  display: block;
  text-align: left;
  color: #643f3f;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,
.txtb textarea {
  font-weight: 500;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn {
  display: inline-block;
  background: #492d53;
  padding: 14px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
.about-col-2 {
  width: 25%;
}
.about-col-1 {
  width: 50%;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

.container .about-col-1 p {
  text-align: center;
  margin-top: -0.1em;
  font-size: 15px;
}
.flex-container {
  justify-items: center;
}
main{
  padding: 5px;
  overflow: hidden;
}

/* -----thankuuuu----- */
